{% load menu %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Django Menu Plugable</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
<body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="./index.html" class="brand">Bootstrap</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="./index.html">Overview</a>
            </li>
            <li class="">
              <a href="./scaffolding.html">Scaffolding</a>
            </li>
            <li class="">
              <a href="./base-css.html">Base CSS</a>
            </li>
            <li class="active">
              <a href="./components.html">Components</a>
            </li>
            <li class="">
              <a href="./javascript.html">Javascript plugins</a>
            </li>
            <li class="">
              <a href="./less.html">Using LESS</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="">
              <a href="./download.html">Customize</a>
            </li>
            <li class="">
              <a href="./examples.html">Examples</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <header id="overview" class="jumbotron subhead">
      <h1>Django Menu </h1>
      <p class="lead">A plugable Menu Application for Django Projects.</p>

    </header>
    <section id="menu1">
      <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          </a>
          <a href="#" class="brand">Menu</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% submenu  1 %}
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div>
      <!-- code and comments-->
  </section>
    <section id="submenu">
    <div class="subnav">
      <ul class="nav nav-pills">
        {% submenu %}
      </ul>
    </div>
  </section>
  <section id="submenu">
    <div class="subnav">
      <ul class="nav nav-pills">
        {% submenu depth=2 %}
      </ul>
    </div>
  </section>
   <section id="submenu">
    <div class="subnav">
      <ul class="nav nav-pills">
        {% submenu depth=3 %}
      </ul>
    </div>
  </section>
  <!-- Footer
  ================================================== -->
    <footer class="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Designed and built with all the love in the world <a target="_blank" href="http://twitter.com/twitter">@twitter</a> by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
      <p>Code licensed under the <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    </footer>
  </div><!-- /container -->
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/prettify.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/application.js" type="text/javascript"></script>

  <script type="text/javascript">
  $(function() {
    prettyPrint();
  });
  </script>


</body>
